refine/
unsloth/
repo/
outputs/
wandb/
fireworks/model/

model/

*.parquet

data/
.aider*

.env
*.db

.token_counts.json

**/__pycache__/
**/*.swp


.draft*

**/*.Identifier


*.xml

log/

*.json
*.log
cache/

